@keyframes pulse {
    0% {
        background-color: #71418b;
        border-color: #71418b;
    }
    50% {
        background-color: #FFF;
        border-color: #FFF;
    }
    100% {
        background-color: #71418b;
        border-color: #71418b;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Righteous', cursive;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.flex-align-center {
    align-items: center;
}
.flex-left {
    justify-content: flex-start;
}
.flex-center {
    justify-content: center;
}
.flex-right {
    justify-content: flex-end;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}

.gray {
    background-color: gray;
}
.yellow {
    background-color: #fbcb65;
}
.red {
    background-color: #e62b3e;
}
.green {
    background-color: #a3ba46;
}
.brown {
    background-color: #9e6351;
}

.btn {
    padding: 15px 25px;
    background-color: #71418b;
    color: #FFF;
    border: 3px solid #FFF;
    cursor: pointer;
    display:inline-block;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #f3f3f3;
    display: flex;
}

h1 {
    text-align: center;
    padding: 25px 0;
}

.arrow {
    font-weight: bold;
}

.introPage{
    background-image: url(../../images/game-bg1.jpg);
    background-size: cover;
    position: relative;
}

/* .playButton{
    position: fixed;
    top:50%;
    transform: translate(-50%,-50%);
    left: 50%;
    font-size: 3rem;
    padding: 15px 25px;
    background-color: blanchedalmond;
    border: 1px solid black;
    cursor:pointer;
} */
