.game-area{
    flex: 1;
}

.game-container {
    max-width: 900px;
    margin: auto;
    padding: 0 5px;
}

.merchant-cards .card, .conversion-cards .card {
    width: 130px;
    height: 210px;
}

.merchant-cards, .conversion-cards, .available-spices {
    padding: 15px 0;
}

.available-spices {
    padding-bottom: 0;
}

.spice-title {
    text-orientation: upright;
}

.spice-bowl {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid #000;
}

.spice-bowl.yellow {
    background: url(../../images/bowl-cube-yellow.jpg);
    background-size: cover;
}
.spice-bowl.red {
    background: url(../../images/bowl-cube-red.jpg);
    background-size: cover;
}
.spice-bowl.green {
    background: url(../../images/bowl-cube-green.jpg);
    background-size: cover;
}
.spice-bowl.brown {
    background: url(../../images/bowl-cube-brown.jpg);
    background-size: cover;
}