.spice-collection {
    width: 400px;
    min-height: 176px;
    margin: 25px auto;
    padding: 15px;
    border: 1px solid #000;
    background-color: #000;
}

.player1 .spice-collection {
    background: url(../../images/spice-collection-1.jpg);
    background-size: cover;
    background-position: center;
}
.player2 .spice-collection {
    background: url(../../images/spice-collection-2.jpg);
    background-size: cover; 
    background-position: center;
}

.gray {
    background-color: gray;
}
.yellow {
    background-color: #fbcb65;
}
.red {
    background-color: #e62b3e;
}
.green {
    background-color: #a3ba46;
}
.brown {
    background-color: #9e6351;
}

.spice.gray {
    background: url(../../images/cube-gray.svg);
}
.spice.yellow {
    background: url(../../images/cube-yellow.svg);
}
.spice.red {
    background: url(../../images/cube-red.svg);
}
.spice.green {
    background: url(../../images/cube-green.svg);
}
.spice.brown {
    background: url(../../images/cube-brown.svg);
}

.spice {
    width: 60px;
    height: 60px;
    margin: 6px;
    background-size: cover;
}


