.player-sidebar {
    width: 0;
    height: 0;
    background-color: pink;
    transition: width .5s;
    overflow: hidden;
}

.playButton{
    font-size: 5vh;
    position: relative;
    left: 22%;
    top: 100px;
}

.rulesButton{
    font-size: 5vh;
    position: relative;
    left: 22%;
    top: 100px;
}

.aboutButton{
    font-size: 5vh;
    position: relative;
    left: 22%;
    top: 100px;
}

.player-sidebar.active-player {
    width: 500px;
    height: initial;
}

.hide{
    display: none;
}