.player-sidebar {
    position: relative;
    width: 0;
    height: 0;
    background-color: pink;
    transition: width .5s;
    overflow: hidden;
    background-image: url(../../images/player-sidebar-bg1.jpg);
    background-size: cover;
    box-shadow: 5px 10px;
}

.player-sidebar.player1 {
    border-right: 2px solid #000;
}
.player-sidebar.player2 {
    border-left: 2px solid #000;
}

.player-sidebar.active-player {
    width: 500px;
    height: initial;
}

.hide{
    display: none;
}

.player-sidebar h1{
    color: white;
    letter-spacing: 2px;
    text-shadow:
        -1px -1px 0 #000,  
        2px -1px 0 #000,
        -1px 2px 0 #000,
        2px 2px 0 #000;
}

.player-options {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 15px;
    text-align: center;
}
.player-options .btn:first-child {
    margin-right: 25px;
}

.score-area {
    position: absolute;
    top: 0;
    left: 10px;
    font-weight: bold;
    background-color: #FFF;
    padding: 10px 10px 15px;
    box-shadow: 0 5px 5px rgba(0,0,0,.5);
}

.message-area {
    position: absolute;
    bottom: 0;
    left: 15px;
    box-shadow: 0 5px 5px rgba(0,0,0,.5);
}

.message-text {
    background-color: #FFF;
    padding: 15px;
    max-width: 300px;
    color: #71418b;
    border: 1px solid #71418b;
}

.score-area h4 {
    font-size:1.2rem;
    text-decoration: underline;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(48, 53, 65, 0.8);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .5s
}

.popup-close:link,
.popup-close:visited {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    margin-top: 10px;
}

.popup-close:hover {
    color: #71418b;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 550px;
    box-shadow: 0 2rem 4rem rgba(48, 53, 65, 0.4);
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .5s;
    color: #FFF;
    text-align: center;
}

.popup:target {
    opacity: 1;
    visibility: visible
}

.popup:target .popup-content {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.popup-options {
    width: 100%;
}

.popup-options .btn {
    text-align: center;
    display:block;
    width: 200px;
    margin: 10px auto;
    text-align: center;
}

.popup-winner h1{
    font-size: 3rem;
    margin: 0 0 30px; 
    border: 10px solid #FFF;
}
.popup-rules {
    overflow: auto;
}
.popup-rules img{
    width: 100%;
}
.popup-rules .popup-content {
    top: 100%;
    margin-bottom:20px;
}