.obtain-card {
    background: url(../../images/card-obtain.jpg);
}
.point-card {
    background: url(../../images/card-point.jpg);
}
.trade-card {
    background: url(../../images/card-trade.jpg);
}
.upgrade-card {
    background: url(../../images/card-upgrade.jpg);
}
.card {
    width: 100px;
    height: 150px;
    margin: 5px;
    background-size: cover;
    border: 5px solid #000;
    border-radius: 15px;
}

.inactive-cards .card {
    opacity: .6;
}

.merchant-cards, .conversion-cards {
    padding: 15px 0;
}

.merchant-cards .card, .point-cards .card {
    width: 130px;
    height: 225px;
}

.point-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.point-cards .points-display {
    text-align: center;
    font-size: 3rem;
    color: #FFF;
    background-color: rgba(0,0,0,.9);
    display: inline-block;
    border-radius: 50%;
    margin-top: 10px;
}
.point-cards .price {
    background-color: rgba(255,255,255,.7);
    border-radius: 10px;
}

.card-function {
    display: inline-block;
    background-color: rgba(255,255,255,.8);
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-radius: 10px;
}

.card-function .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.card-spice.gray {
    background: url(../../images/cube-gray.svg);
}
.card-spice.yellow {
    background: url(../../images/cube-yellow.svg);
}
.card-spice.red {
    background: url(../../images/cube-red.svg);
}
.card-spice.green {
    background: url(../../images/cube-green.svg);
}
.card-spice.brown {
    background: url(../../images/cube-brown.svg);
}

.card-spice {
    width: 27px;
    height: 27px;
    margin: 5px;
    background-size: cover;
}


